<!--
    template-project-tracker.hbs
    Purpose:
        - This is the partial page that contains the template for the project tracker.
        - This is used to display the information of each project tracker.
-->

            
            <div class="header">
                <span class="flex-container">
                    <h1>{{ pageTitle }}</h1>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end template-btn-container">
                        <button class="btn btn-warning me-md-2" id="edit-tracker-btn" type="button">Edit Tracker</button>
                        <button class="btn btn-success" id="save-tracker-btn" type="button" disabled>Save Changes</button>
                        <button class="btn btn-danger" id="cancel-tracker-btn" type="button" data-bs-toggle="modal" data-bs-target="#deleteTrackerModal" disabled>Cancel Editing</button>
                    </div>
                </span>
            </div>

            

            <!-- Main -->
            <div class="main-container">
                <!-- Cards -->
                <ul class="cards">
                    <li>
                        <i class="fa fa-solid fa-users"></i>
                        <span class="info">
                            <h3>{{totalEmployees}}</h3>
                            <p>Total Employees</p>
                        </span>
                    </li>

                    <li>
                        <i class="fa fa-solid fa-table-list"></i>
                        <span class="info">
                            <h3>{{totalPositions}}</h3>
                            <p>No. of Project Roles</p>
                        </span>
                    </li>

                    <li>
                        <i class="fa fa-solid fa-chart-line"></i>
                        <span class="info">
                            <h3>{{totalDeployments}}</h3>
                            <p>Total Deployment</p>
                        </span>
                    </li>

                    <li>
                        <i class="fa fa-solid fa-sack-dollar"></i>
                        <span class="info">
                            <h3>₱{{totalRate}}</h3>
                            <p>Total Rate</p>
                        </span>
                    </li>
                </ul>
                <!-- End of cards -->

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <div class="header">
                            <h3>REPORT</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="card chart-container">
                                <canvas class="chart" id="chartAllEmployees" style="width:100%;max-width:400px"></canvas>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="card chart-container">
                                <canvas class="chart" id="chartAllDeployments" style="width:100%;max-width:400px"></canvas>
                              </div>
                            </div>
                        </div> <!-- End of row --> 
                    </div> <!-- End of reports -->
                </div> <!-- End of bottom-data -->

                <!-- Data -->
                <div class="bottom-data">
                    <div class="reports">
                        <h3 class="mb-3">Employee List</h3>
                        <table id="employee-list-table-template">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Deployment (in Hrs)</th>
                                    <th>Rate (per Hr)</th>
                                    <th>Total Rate</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody id="employee-list-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> 
            <!-- End of Main --> 

            <script>
                // Get references to the buttons
                const editButton = document.getElementById('edit-tracker-btn');
                const saveButton = document.getElementById('save-tracker-btn');
                const cancelButton = document.getElementById('cancel-tracker-btn');

                // Add event listener to the edit button
                editButton.addEventListener('click', function() {
                    // Disable edit button
                    editButton.disabled = true;
                    editButton.style.color = '#FFFFFF';

                    // Enable save and cancel buttons
                    saveButton.disabled = false;
                    saveButton.style.color = '#000000';
                    cancelButton.disabled = false;
                    cancelButton.style.color = '#000000';
                });

                // Add event listener to the cancel button and save button
                cancelButton.addEventListener('click', function() {
                    // Disable save and cancel buttons
                    saveButton.disabled = true;
                    saveButton.style.color = '#FFFFFF';
                    cancelButton.disabled = true;
                    cancelButton.style.color = '#FFFFFF';

                    // Enable edit button
                    editButton.disabled = false;
                    editButton.style.color = '#000000';
                });

                saveButton.addEventListener('click', function() {
                    // Disable save and cancel buttons
                    saveButton.disabled = true;
                    saveButton.style.color = '#FFFFFF';
                    cancelButton.disabled = true;
                    cancelButton.style.color = '#FFFFFF';

                    // Enable edit button
                    editButton.disabled = false;
                    editButton.style.color = '#000000';
                });
            </script>
